body {
  box-sizing: border-box;
  background-color: green;
}
#card {
  display: inline-block;
  background: white;
  margin: auto;
  height: 400px;
  width: 250px;
  font-size: 80px;
  padding: 20px;
  padding-top: 180px;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  position: relative;
}
#icon-top {
  font-size: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 5px;
}
#icon-bottom {
  font-size: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  transform: rotateX(180deg);
  padding-right: 5px;
}
#card-number {
  font-size: 70px;
  align-self: center;
  justify-content: center;
}
